@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #3AAFA9;
  --background: #2B7A78;
  --text-secondary: #17252A;
  --card-bg: #FEFFFF;
  --darkened-background: #DEF2F1;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background-color: var(--background);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.post-card {
  margin: 10px auto;
  width: 600px;
  background: var(--card-bg)
}

.post-button {
  transition: color 0.3s ease;
}